{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "eslintIntegration": true,
  "arrowParent": "always",
  "endOfLine": "lf",
  "semi": true
}
